body {
    background-color: pink;
}
#typing {
    display: none;
    bottom: 10px;
    bottom: 43px;
    position: absolute;
    left: 10px;
    color: grey;  \
    \]]]]]]]
}

#newsockers {
    float: left;
}

#returningsockers {
    float: right;
}
